@import "variables";


*{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    padding: 0;
    color: $color;
    background-image: $background;
    
  }
  
  .container{
    margin: 10% auto;
    width: 60%;
  }
  
  .text-center{
    text-align: center;
  }

  .listitems{
    background: $color;
    color:$color-list;
    p{
        margin:0;
        text-align: center;
        padding: 10px 0px;
    }
    span{
        display: inline-block;
        text-align: center;
        padding: 10px 0px;
        font-size: 20px;
        border: 0.3px solid $color-input ;
        
    }
}
.title{
    color: $color;
    background:$color-item;
}
.icon{
color: red;
cursor:pointer;
font-weight: bold;
}


    .listitems span.name,form input[type=text]{
       width: 50%;
    }
    .listitems span.age,form input[type=number]{
        width: 35%;
     }

     .listitems span.action,form input[type=submit]{
        width: 15%;
     }

 form input {
     padding: 10px;
     background: #ebebeb;
     border: transparent;
     border: 0.3px solid $color-input;
 }

 

.sub {
    background: $color-item;
    color:$color;
    cursor: pointer;
    border: 0.3px solid $color-item;
}