$background : radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
$color:#fff;
// $color-list:#46529d;
$color-list:#122A4F;
// $color-item:#2ebaee;
$color-item:#051937;
$color-input:#ccc;
